manifest {
    mainScript = 'plot_coverage.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker { docker.enabled = true }
  singularity { singularity.enabled = true }
}

process {
    container = 'iarcbioinfo/nf_coverage_demo:v2.1'
    shell =  ['/bin/bash','-o','pipefail']
}

timeline {
  enabled = true
}

report {
  enabled = true
}

trace {
  enabled = true
}

dag {
  enabled = true
}
