manifest {
    homePage = 'https://github.com/IARCbioinfo/nf_coverage_demo'
    description = 'Nextflow demo plotting mean coverage over a series of BAM files'
    mainScript = 'plot_coverage.nf'
}

profiles {
  conda { 
	process.conda = "$baseDir/environment.yml"
	conda.createTimeout = "200 min"
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/nf_coverage_demo:v2.3'
  }
  singularity {
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/nf_coverage_demo:v2.3'
    pullTimeout = "200 min"
  }
}

process {
	shell =  ['/bin/bash','-o','pipefail']
}
